<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link href="{{ url_for('static', filename='css/emoji.css') }}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/colorbox.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/fileinput.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/editprofile.css') }}" rel="stylesheet" type="text/css" >

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/fav.png') }}">

    <title>Superlist - User Profile Edit</title>
</head>


<body class="">

<div class="page-wrapper">
    
    <header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('newsfeed') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="dropdown"><a href="{{ url_for('newsfeed') }}">Home</a></li>
              <li class="dropdown"><a href="{{ url_for('timeline') }}">Profile</a></li>
              <li class="dropdown"><a href="{{ url_for('messages') }}">Messages</a></li>
              <li class="dropdown"><a href="{{ url_for('logout') }}">Sign Out</a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm">
              <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Search friends, photos, videos">
              </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>




    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">
                            


                            <div class="widget">

    <ul class="menu-advanced">
        <li><a href="{{ url_for('editprofile') }}"><i class="fa fa-user"></i> Edit Profile</a></li>
        <li class="active"><a href="{{url_for('editpassword')}}"><i class="fa fa-key"></i> Edit Password</a></li>
    </ul>
</div><!-- /.widget -->

                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-8 col-lg-9">
                        <div class="content">
                            <div class="page-title">
</div><!-- /.page-title -->

<div class="background-white p20 mb30">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <h3 class="page-title">
            Change Password
         <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-xs pull-right") }}
        </div>
        </h3>

        <div class="row">
            <div class="form-group col-sm-6">
                <label>Current Password</label>
                {% if form.oldPassword.errors %}
                    {{ form.oldPassword(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.oldPassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.oldPassword(class="form-control form-control-lg", placeholder="Current Password") }}
                {% endif %}
            </div><!-- /.form-group -->

            <div class="form-group col-sm-6">
                <label>New Password</label>
                {% if form.newPassword.errors %}
                    {{ form.newPassword(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.newPassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.newPassword(class="form-control form-control-lg", placeholder="New Password") }}
                {% endif %}
            </div><!-- /.form-group -->

            <div class="form-group col-sm-6">
                <label>Repeat Password</label>
                {% if form.confirmPassword.errors %}
                    {{ form.confirmPassword(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirmPassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirmPassword(class="form-control form-control-lg", placeholder="Repeat Password") }}
                {% endif %}
            </div><!-- /.form-group -->
        </div><!-- /.row -->
    </form>
</div>

                        </div><!-- /.content -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

</div><!-- /.page-wrapper -->

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
  </div>

<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.sticky-kit.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/editprofile.js') }}" type="text/javascript"></script>

</body>
</html>
