{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock title %}

{% block styles %}
{{ super() }}
<!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />

    <!--Google Webfont-->
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/fav.png') }}"/>
{% endblock styles %}

{% block content %}
<!-- Top Banner
    ================================================= -->
		<section id="banner">
			<div class="container">

        <!-- Sign Up Form
        ================================================= -->
        <div class="sign-up-form">
					<a href="{{  url_for('signup')  }}" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Friend Finder"/></a>
					<h2 class="text-white"></h2>
					<div class="line-divider"></div>
					<div class="form-wrapper">
						<p class="signup-text">Signup Now</p>
						<form method ="POST" action="">
                            {{ form.hidden_tag() }}
							<fieldset class="form-group">
                               {% if form.fname.errors %}
                                   {{ form.fname(class="form-control form-control-lg is-invalid") }}
                                   <div class="invalid-feedback">
                                       {% for error in form.fname.errors %}
                                           <span>{{ error }}</span>
                                       {% endfor %}
                                   </div>
                               {% else %}
                                   {{ form.fname(class="form-control form-control-lg", placeholder="First Name") }}
                               {% endif %}
                            </fieldset>
                            <fieldset class="form-group">
                               {% if form.lname.errors %}
                                   {{ form.lname(class="form-control form-control-lg is-invalid") }}
                                   <div class="invalid-feedback">
                                       {% for error in form.lname.errors %}
                                           <span>{{ error }}</span>
                                       {% endfor %}
                                   </div>
                               {% else %}
                                   {{ form.lname(class="form-control form-control-lg", placeholder="Last Name") }}
                               {% endif %}
                            </fieldset>
							<fieldset class="form-group">
                               {% if form.email.errors %}
                                   {{ form.email(class="form-control form-control-lg is-invalid") }}
                                   <div class="invalid-feedback">
                                       {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                       {% endfor %}
                                   </div>
                               {% else %}
                                   {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                               {% endif %}
							</fieldset>
							<fieldset class="form-group">
                               {% if form.password.errors %}
                                   {{ form.password(class="form-control form-control-lg is-invalid") }}
                                   <div class="invalid-feedback">
                                       {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                       {% endfor %}
                                   </div>
                               {% else %}
                                   {{ form.password(class="form-control form-control-lg", placeholder="Password")  }}
                               {% endif %}
                            </fieldset>
                            <fieldset class="form-group">
                                {% if form.confirm_password.errors %}
                                   {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                   <div class="invalid-feedback">
                                       {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                       {% endfor %}
                                   </div>
                               {% else %}
                                   {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password")  }}
                               {% endif %}
                            </fieldset>
                            <fieldset class="form-group">
                                {% if form.phone.errors %}
                                   {{ form.phone(class="form-control form-control-lg is-invalid") }}
                                   <div class="invalid-feedback">
                                       {% for error in form.phone.errors %}
                                        <span>{{ error }}</span>
                                       {% endfor %}
                                   </div>
                               {% else %}
                                   {{ form.phone(class="form-control form-control-lg", placeholder="Phone Number")  }}
                               {% endif %}
                            </fieldset>
                                {{ form.submit(class="btn btn-secondary") }}
						</form>
					</div>
					<a href="{{ url_for('login') }}">Already have an account?</a>
					<img class="form-shadow" src="{{ url_for('static', filename='images/bottom-shadow.png') }}" alt="" />
				</div>
		<!-- Sign Up Form End -->

        <svg class="arrows hidden-xs hidden-sm">
          <path class="a1" d="M0 0 L30 32 L60 0"></path>
          <path class="a2" d="M0 20 L30 52 L60 20"></path>
          <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
			</div>
		</section>
		<section>
			<div class="container wrapper">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-md-offset-2">
					</div>
					<div class="col-md-4 col-sm-6">
					</div>
				</div>
			</div>
		</section>

    <!-- Footer
    ================================================= -->
		<footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href=""><img src="{{ url_for('static', filename='images/logo-black.png') }}" alt="" class="footer-logo" /></a>
              <ul class="list-inline social-icons">
              	<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>For individuals</h6>
              <ul class="footer-links">
                <li><a href="">Signup</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Language settings</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>For businesses</h6>
              <ul class="footer-links">
                <li><a href="">Business signup</a></li>
                <li><a href="">Business login</a></li>
                <li><a href="">Benefits</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>About</h6>
              <ul class="footer-links">
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h6>Contact Us</h6>
                <ul class="contact">
                	<li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 567 8910</li>
                	<li><i class="icon ion-ios-email-outline"></i>info@numero-uno.com</li>
                  <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
                </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>copyright @numero uno 2019. All rights reserved</p>
      </div>
		</footer>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.appear.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.incremental-counter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock content %}